# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
#exportPattern(".")
export(
  TDALogin,
  TDALogout,
  getHistory,
  getSnapQuotesList
)
# Import all packages listed as Imports or Depends
import(
  xts,
  zoo,
  XML,
  RCurl,
  sfsmisc
)
